/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
  .responsive-font-example {
    font-size: 80px;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
  .responsive-font-example {
    font-size: 30px;
  }
}
nav {
  position: fixed;
  font-family: 'Sen', sans-serif;
  justify-content: center;
}
#body {
  font-family: 'Sen', sans-serif;
}
#judulheader {
  margin-left: 3cm;
  margin-bottom: 3cm;
}
#pramuka {
  margin-top: 2rem;
  width: 400px;
  height: 400px;
}
#akademik {
  text-align: center;
  margin-top: 3cm;
  max-width: fit-content;
}
#fakta {
  width: auto;
  height: 5cm;
}
.count-box {
  line-height: 1px;
}
.youtube {
  margin-top: 3rem;
  margin-right: auto;
  width: 533px;
  height: 300px;
}
#header {
  margin-top: 3rem;
  margin-left: 2.5rem;
}
#agenda {
  margin-top: 4rem;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

#facebook {
  margin-right: 1rem;
}
#instagram {
  margin-right: 1rem;
}
#youtube {
  margin-right: 1rem;
}

#footer {
  margin-top: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#galeri {
  max-width: 100rem;
  padding: 4rem 2rem 2rem;
  margin-bottom: 5cm;
}

.heading span {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  width: 480px;
  height: 300px;
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-in;
}

.gallery-image:hover {
  transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}
#kontak {
  font-family: 'Poppins', sans-serif;
}
.kontak-judul {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.kontak-pesan {
  font-style: bold;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
